<ion-view>
    <ion-content>
      <jy-navigation map="true"></jy-navigation>
      <div class="map-parent" ng-class="tour.locations.length>0?'location-created':''">
        <div id="map" data-tap-disabled="true"></div>
        <div class="location-pin">
          <img ng-src="img/icons/jurny-location-pin.png" alt="Location Pin"/>
        </div>
      </div>
      <div class="creator-toolbar md-whiteframe-2dp" ng-if="tour.locations.length>0">
        <div class="locations-parent" layout="row" layout-align="start center">
          <div flex></div>
          <!-- <div class="location-box" ng-repeat="location in tour.locations"> -->
          <div class="location-box md-whiteframe-2dp" ng-repeat="location in tour.locations" ng-style="{'background-image': 'url(' + location.image + ')'}">
            <span ng-if="!location.image">J</span>
            <div class="location-number md-whiteframe-1dp" layout="row" layout-align="center center">{{$index+1}}</div>
          </div>
          <div flex></div>
        </div>
      </div>
      <md-button class="md-whiteframe-z1 add-location-fab" ng-click="launchCreateLocationDialog($event)">Add Location</md-button>
      <place-autocomplete class="maps-search" callback="locationSelectedFromSearch"></place-autocomplete>
      <!-- <div ng-if="location.name">
        <h4>Selected location</h4>
        <pre>{{location|json}}</pre>
      </div> -->
    </ion-content>
</ion-view>
<!-- <md-fab-speed-dial ng-class="demo.selectedMode" class="add-location-fab">
 <md-fab-trigger>
   <md-button aria-label="menu" class="md-fab md-primary" ng-click="launchCreateLocationDialog($event)">
     <md-icon class="material-icons">add</md-icon>
   </md-button>
 </md-fab-trigger> -->
</md-fab-speed-dial>

<div style="visibility:hidden;">
  <div class="md-dialog-container" id="addLocationDialog"  file-dropzone="[image/png, image/jpeg, image/gif]"
                  file="newLocation.image" file-name="imageFileName">
    <md-dialog aria-label="Mango (Fruit)" class="add-location-dialog">
      <form ng-cloak>
        <md-toolbar class="md-whiteframe-2dp">
          <div class="md-toolbar-tools">
            <h2>Add Location</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div layout="row" class="dialog-map-parent">
              <div id="dialogMap" data-tap-disabled="true">
              </div>
              <div class="location-pin">
                <img ng-src="img/icons/jurny-location-pin.png" alt="Location Pin"/>
              </div>
            </div>
            <div layout-gt-xs="row" class="input-row">
              <div class="image-input md-whiteframe-2dp" layout="row" layout-align="center center" ng-style="{'background-image': 'url(' + newLocation.image + ')'}">
                <div class="icon-circle" layout="row" layout-align="center center">
                  <md-icon class="material-icons">photo_camera</md-icon>
                </div>
              </div>
              <div class="information-input" layout-gt-xs="row">
                <form name="addLocationForm">
                  <md-input-container class="md-block">
                    <label>Title</label>
                    <textarea required md-no-asterisk ng-model="newLocation.title" md-maxlength="20" rows="5" md-select-on-focus></textarea>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea required md-no-asterisk ng-model="newLocation.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                  </md-input-container>
                </form>
              </div>
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="md-whiteframe-2dp">
          <span flex></span>
          <md-button ng-click="cancel()">
           Cancel
          </md-button>
          <md-button class="md-primary md-raised" ng-click="add()">
            Add
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>
