<md-content layout="row" layout-align="center center">
  <div class="login-card">
    <div class="title-text">
      <span class="md-headline">Jurny</span>
    </div>
    <p>Login to continue to Jurny</p>
    <div layout="column" ng-if="!isJurnyLogin">
      <md-button class="md-raised login-btn facebook" ng-click="doFacebookLogin()">Facebook</md-button>
      <md-button class="md-raised login-btn google" ng-click="doGoogleLogin()">Google</md-button>
      <md-button class="md-raised md-primary login-btn" ng-click="showJurnyLogIn()">Jurny</md-button>
      <div class="login-bottom">
        <p>Don't have an account?</p>
        <md-button ng-click="goToSignUp()">create one</md-button>
      </div>
    </div>
    <div layout="column" ng-if="isJurnyLogin">
      <form name="logInForm" class="signup-form"  ng-submit="logInForm.$valid && doJurnyLogIn()">
        <div layout-gt-xs="row">
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="user.email" name="email" required ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" md-no-asterisk>
            <div ng-messages="logInForm.email.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please input a valid email address.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container flex>
            <label>Password</label>
            <input type="password" ng-model="user.password" name="password" required md-no-asterisk>
            <div ng-messages="logInForm.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div class="login-bottom">
          <md-button type="submit" class="md-raised md-primary login-btn">Log In</md-button>
        </div>
      </form>
    </div>
  </div>
</md-content>
