<md-toolbar layout="row" class="navigation-bar md-whiteframe-2dp" ng-if="!map">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <span class="bar-title">Jurny</span>
    </h2>
    <span flex></span>
    <md-button class="md-raised create-btn" aria-label="Create" ng-click="goToCreate()">
      <span>Create</span>
    </md-button>
    <md-button aria-label="Log In" ng-click="goToLogIn()" ng-if="!user">
      <span>Log In</span>
    </md-button>
    <md-menu class="user-avatar-menu" md-position-mode="target-right target" ng-if="user">
      <md-button aria-label="Open user signout menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
        <img ng-src="{{user.picture}}" alt="User profile picture">
      </md-button>
      <md-menu-content width="5" class="user-avatar-menu-content">
        <md-menu-item>
          <img ng-src="{{user.picture}}" alt="User profile picture">
          <div layout="column">
            <p class="email">{{user.email}}</p>
            <p class="sign-out"><a ng-click="signOut()">SIGN OUT</a></p>
          </div>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<md-toolbar layout="row" class="navigation-bar transparent md-whiteframe-2dp" ng-if="map">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <span class="bar-title">Jurny</span>
    </h2>
    <span flex></span>
    <md-button aria-label="Log In" ng-click="goToLogIn()" ng-if="!user">
      <span>Log In</span>
    </md-button>
    <md-menu class="user-avatar-menu" md-position-mode="target-right target" ng-if="user">
      <md-button aria-label="Open user signout menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
        <img ng-src="{{user.picture}}" alt="User profile picture">
      </md-button>
      <md-menu-content width="5" class="user-avatar-menu-content">
        <md-menu-item>

            <img ng-src="{{user.picture}}" alt="User profile picture">
            <div layout="column">
              <p class="email">{{user.email}}</p>
              <p class="sign-out"><a ng-click="signOut()">SIGN OUT</a></p>
            </div>

        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<md-sidenav class="md-whiteframe-z2" md-component-id="left">
</md-sidenav>
