.scroll {
    height: 100%;
}

div.map-parent {
  width: 100%;
  height: 100%;
  #map {
    width: 100%;
    height: 100%;
  }
  .location-pin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-bottom: 40px;
    pointer-events: none;
    img {
      width: 40px;
      height: 40px;
    }
  }
  &.location-created {
    padding-bottom: 51px;
  }
}

div.creator-toolbar {
  display: block;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: 51px;
  background-color: #fff;
  overflow-x: auto;
  border-top: 1px solid #e8e8e8;
  &.hidden {
    display: none;
  }
  .locations-parent {
    height:100%;
    .location-box {
      display: block !important;
      height:36px;
      min-height:36px;
      width:36px;
      min-width:36px;
      background: $jurny-color;
      margin-left: 16px;
      margin-right: 16px;
      cursor:pointer;
      position: relative;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
      span {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-size: $jy-font-size-lx;
      }
      .location-number {
        width:20px;
        height:20px;
        border-radius: 50%;
        background: #fff;
        color: $jurny-color;
        position: absolute;
        top:-6px;
        left:-6px;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

.add-location-fab {
  position: absolute;
  top: 72px;
  left: 308px;
  z-index: 1;
  margin: 0;
  height: 48px;
  background-color: #fff !important;
  span {
    color: $jurny-color;
  }
}

.maps-search {
  position: absolute;
  top: 72px;
  left: 8px;
  z-index: 1;
  md-autocomplete {
    width: 300px;
    height: 48px;
    md-autocomplete-wrap {
      height: 48px;
      input {
        // height: 60px;
        margin: auto 0px;
        // max-width: 300px;
        color: $jy-text-color;
        font-size: $jy-font-size-large;
      }
    }
  }
}
