.scroll {
    height: 100%;
}

div.map-parent {
  width: 100%;
  height: 100%;
  #map {
    width: 100%;
    height: 100%;
  }
  .location-pin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-bottom: 40px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  &.location-created {
    padding-bottom: 51px;
  }
}

div.creator-toolbar {
  display: block;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: 51px;
  background-color: #fff;
  &.hidden {
    display: none;
  }
  .locations-parent {
    height:100%;
    overflow-x:hidden;
    .location-box {
      height:36px;
      width:36px;
      background: $jurny-color;
      margin-left: 16px;
      margin-right: 16px;
      cursor:pointer;
      position: relative;
      span {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-size: $jy-font-size-lx;
      }
      .location-number {
        width:20px;
        height:20px;
        border-radius: 50%;
        background: #fff;
        color: $jurny-color;
        position: absolute;
        top:-6px;
        left:-6px;
      }
    }
  }
}

.add-location-fab {
  position: absolute;
  bottom: 23px;
  right: 56px;
  button {
    margin:0;
  }
}
