.add-location-dialog {
  height: 500px;
  max-height: 500px;
  width: 800px;
  max-width: 800px;

  md-toolbar {
    .md-toolbar-tools {
      h2 {
        color: #fff;
      }
    }
  }
  md-dialog-content {
    margin-bottom: 52px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .dialog-map-parent {
      height: 200px;
      width: 100%;
      position: relative;
      #dialogMap {
        width: 100%;
        height: 100%;
      }
      .location-pin {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        padding-bottom: 40px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .input-row {
      margin-top: 24px;
      .image-input {
        display: flex !important;
        height: 112px;
        width: 150px;
        background: $jurny-color;
        cursor: pointer;
        position: relative;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
        .icon-circle {
          position: absolute;
          top:50%;
          left:50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: #fff;
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          md-icon {
            color: $jurny-color;
          }
        }
        .image-thumbnail {
          overflow: hidden;
          img {
            height: 100%;
          }
        }
        &:hover {
          .icon-circle {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          }
        }
      }
      .information-input {
        margin-left: 24px;
        height: 112px;
        md-input-container {
          &:first-of-type {
            margin-right: 24px;
            font-size: $jy-font-size-lx;
          }
          textarea {
            height: 96px !important;
            width: 250px;
            line-height: 1.3;
          }
        }
      }
    }
    .image-limit {
      font-size: $jy-font-size-small;
      color: $jurny-warn-color;
    }
  }
  md-dialog-actions {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
  }
}
.md-dialog-container.dragover {
  .add-location-dialog md-dialog-content {
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(76,175,80,0.45);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(76,175,80,0.45);
    box-shadow: inset 0px 0px 0px 2px rgba(76,175,80,0.45);
  }
}
