.login-card {
  max-width: 600px;
  width: 100%;
  md-card-title-text {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .login-bottom {
    text-align: center;
    .login-btn {
      margin-bottom: 16px;
    }
  }
  .login-btn {
    width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .login-btn.facebook {
    background-color: $facebook-color;
    opacity: 0.9;
    span {
      color: #fff;
    }
  }
  .login-btn.facebook:hover {
    background-color: $facebook-color;
    opacity: 1;
  }
  .login-btn.google {
    background-color: $google-color;
    opacity: 0.9;
    span {
      color: #fff;
    }
  }
  .login-btn.google:hover {
    background-color: $google-color;
    opacity: 1;
  }
  .signup-subhead {
    margin-bottom: 8px;
  }
  .signup-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 599px) {
      width: 100%;
    }
  }
}
